# Dependencies
node_modules/
package-lock.json

# Environment & Secrets (Keamanan Kredensial)
.env
.env.*
*.env
*.keystore
*.jks
*.p8
*.p12
*.pem
private_key.json
google-services.json

# Vault & External references
referensi/

# Build outputs & caches
www/
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/*.iml
android/app/*.iml
local.properties
.gradle/
build/
*.apk

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log
npm-debug.log*
