# Dependencies
node_modules/
package-lock.json

# Vault & External references
referensi/

# Build outputs & caches
www/
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/*.iml
android/app/*.iml
local.properties
.gradle/
build/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log
npm-debug.log*
